<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <%- include('partials/navbar')%>
        <div class="main">
            <form action="/create-message" method="post">
                <h2>Post a message</h2>
                <div class="input">
                    <textarea 
                    name="message" 
                    id="message" 
                    placeholder="Hello, world!">
                    </textarea>
                    <p class="error"><%= error %></p>
                </div>
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</body>
</html>